services:
  db:
    image: postgres:15-alpine
    container_name: postgres-dev-moviesdb
    env_file:
      - .env
    ports:
      - "5434:5432"
    volumes:
      - ./src/app/db/init.sql:/docker-entrypoint-initdb.d/init.sql
      - ./src/app/db/dataset/imdb_top_1000.csv:/docker-entrypoint-initdb.d/imdb_top_1000.csv
      - pgdata:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 30s
      timeout: 10s
      retries: 3

volumes:
  pgdata:
